body {
  max-width: 1320px;
  min-height: 1080px;
  background: #d5dce6;
}

/* header {
  width: 100%;
  min-height: 128px;
  margin-top: 5px;
  display: flex;
  position: absolute;
} */

.wrapper {
  position: relative;
  max-width: 100%;

  margin: 80px;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}

main {
  min-width: 1200px;
  min-height: 400px;
  background-color: #fff;
}

main div {
  height: 1080px;
}

.empty {
  height: 540px;
}

aside {
  max-width: 500px;
  min-height: 400px;
  background-color: #000;
}

aside .photo {
  width: 320px;
  height: 320px;
  padding: 28px;
  position: absolute;
  left: 256px;
  top: 64px;
  z-index: 1;
  margin: 20px 10px 20px 5px;
  border-radius: 100%;
}

aside .photo img {
  max-width: 320px;
  max-height: 320px;
  border-radius: 320px;
  border: #000 18px solid;
}

aside .name {
  background-color: rgb(255, 136, 0);
  color: #fff;
  height: 192px;
  width: 1200px;
  position: relative;
  top: 156px;
  right: 700px;
}

.wrapper .name h1,
.wrapper .name h2 {
  position: relative;
  left: 256px;
  font-size: 3em;
}

/* Formularz */

/*
.form {
  position: relative;
  bottom: 20px;
  margin: 0 auto;
  width: 60%;
}

.form div {
  text-align: center;
}

.form input,
.form textarea {
  width: 100%;
}
.form input {
  height: 32px;
  padding: 6px;
}
.form textarea {
  padding: 6px;
}
.form label {
  display: block;
  text-align: left;
  padding: 5px 0px;
}

.btn {
  background-color: #fff;
  box-shadow: -1px 4px 39px 10px rgba(0, 0, 0, 0.1);
  border: 0px;
  border-radius: 6px;
  width: 150px !important;
  height: 40px;
  padding: 6px;
}
.btn:hover {
  box-shadow: inset -1px 4px 39px 10px rgba(0, 0, 0, 0.1);
}

.sq1 {
  height: 50px;
  width: 50px;
  background: var(--blue);
}

.sq2 {
  background: var(--red);
  height: 50px;
  width: 50px;
}

html {
  font-size: 20px;
  color: red;
}
body {
  font-size: 10px;
  color: green;
}

.par1 {
  font-size: 5em;
}

.par2 {
  font-size: 1.2rem;
}
*/
