/* 
spytać się co to może być!

* {
  box-sizing: border-box;
} 
 
*/
@media only screen and (max-width: 800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .aside {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .main,
  .aside {
    width: 100%;
  }
  body {
    width: 100%;
    background: #d5dce6;
  }
}
/* 

header na później 

header {
  width: 100%;
  min-height: 128px;
  margin-top: 5px;
  display: flex;
  position: absolute;
} 

*/

.wrapper {
  position: relative;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  top: 32px;
}

main {
  padding-top: 512px;
  height: auto;
  float: left;
  width: 60%;
  background-color: #fff;
}

.section {
  width: 100%;
  height: 32px;
}

.inline-block {
  display: flex;
  flex-direction: row;
}

.inline-block p {
  margin: 12px;
}

main .edu,
main .exp {
  min-height: 256px;
  position: relative;
  margin: 32px 16px;
}

.empty {
  height: 540px;
}

aside {
  padding-top: 512px;
  float: left;
  width: 40%;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  font-variant-caps: all-petite-caps;
}

aside .photo {
  position: absolute;
  float: left;
  left: 256px;
  top: 64px;
  z-index: 1;
  margin: 20px 10px 20px 5px;
}

aside .photo img {
  max-width: 320px;
  max-height: 320px;
  border-radius: 320px;
  border: #000 18px solid;
}

aside .name {
  background-color: rgb(255, 136, 0);
  color: #fff;
  height: 192px;
  width: 65%;
  position: absolute;
  float: left;
  top: 156px;
  right: 0px;
  margin: 0 auto;
}

aside div {
  position: relative;
  top: 256px;
}

.wrapper .name h1,
.wrapper .name h2 {
  position: relative;
  top: 20px;
  left: 256px;
  margin: 0 auto;
}

.wrapper .name h1 {
  font-size: 3em;
}

.wrapper .name h2 {
  font-size: 1em;
}

/* odstęp od notatek












*/
/* Formularz */

/*
.form {
  position: relative;
  bottom: 20px;
  margin: 0 auto;
  width: 60%;
}

.form div {
  text-align: center;
}

.form input,
.form textarea {
  width: 100%;
}
.form input {
  height: 32px;
  padding: 6px;
}
.form textarea {
  padding: 6px;
}
.form label {
  display: block;
  text-align: left;
  padding: 5px 0px;
}

.btn {
  background-color: #fff;
  box-shadow: -1px 4px 39px 10px rgba(0, 0, 0, 0.1);
  border: 0px;
  border-radius: 6px;
  width: 150px !important;
  height: 40px;
  padding: 6px;
}
.btn:hover {
  box-shadow: inset -1px 4px 39px 10px rgba(0, 0, 0, 0.1);
}

.sq1 {
  height: 50px;
  width: 50px;
  background: var(--blue);
}

.sq2 {
  background: var(--red);
  height: 50px;
  width: 50px;
}

html {
  font-size: 20px;
  color: red;
}
body {
  font-size: 10px;
  color: green;
}

.par1 {
  font-size: 5em;
}

.par2 {
  font-size: 1.2rem;
}
*/
