/* Deklaracja zmiennej globalnej */
:root {
  --black: #000;
  --orange: rgb(241, 167, 7);
  --red: rgb(255, 0, 0);
  --size-h1: 30px;
}
/* Deklaracja zmiennejlokalnej */

input {
  background: var(--orange);
}

label {
  background: var(--white);
}

.sq1 {
  --blue: rgb(0, 0, 255);
}
